# =========================
# Visual Studio
# =========================

.vs/

# Fichiers utilisateur
*.suo
*.user
*.userosscache
*.sln.docstates
*.rsuser

# Cache Visual Studio
*.vsidx
FileContentIndex/
*.VC.db
*.VC.opendb
*.VC.db-shm
*.VC.db-wal
*.sqlite
*.sqlite-shm
*.sqlite-wal

# IntelliSense
ipch/
*.ipch
*.iobj
*.ipdb

# =========================
# Compilation
# =========================

Debug/
Release/
x64/
x86/
bin/
obj/
build/
out/
cmake-build-*/

# =========================
# CMake
# =========================

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
compile_commands.json
Makefile

# =========================
# Binaires
# =========================

*.obj
*.lib
*.dll
*.exe
*.exp
*.ilk
*.pdb

# =========================
# Temporaire
# =========================

*.tmp
*.log
*.cache