# Visual Studio 2026
.vs/

# Fichiers utilisateur
*.suo
*.user
*.userosscache
*.sln.docstates
*.rsuser

# Cache et index Visual Studio
*.vsidx
FileContentIndex/
*.VC.db
*.VC.opendb
*.VC.db-shm
*.VC.db-wal
*.sqlite
*.sqlite-shm
*.sqlite-wal

# Compilation
Debug/
Release/
x64/
x86/
bin/
obj/
out/

# IntelliSense
ipch/
*.ipch
*.iobj
*.ipdb

# Fichiers temporaires
*.tmp
*.log
*.cache